section.type--about
  article
    .head
      h1 🎠 Leila Jones & 🎠 Meg Lawrence
      .subheading Co-Founders & Creative Directors
    .body
      p After having spent much of their careers in stage and production at such prestigious institutions as the Donmar Warehouse, the Roundhouse, and Spring Studios, Leila Jones and Meg Lawrence took their passion for theatre and decided to transition it into the development of world-class events.
      p They are specialists at creating inspiring and unpredictable experiences in the worlds of art, fashion and film; and have collaborated with some of the most influential individuals and companies in these industries.  From conception through to production, management, and the sourcing of some astonishing theatrical talent, at the heart of what they do lies great communication and extraordinary creativity.
+split()
