footer
  .layout--flex
    .box.is-email
      .label 
        .fa--heart
        span Leila Jones
      .email leila@showponiesltd.com
        span
    .box.is-email
      .label 
        .fa--heart
        span Meg Lawrence
      .email meg@showponiesltd.com
    .box.is-social
      a(href="http://www.facebook.com/showponiesltd" target="_blank").ui.is-icon 
        .fa--facebook
      a(href="https://www.pinterest.co.uk/showponiesltd/" target="_blank").ui.is-icon 
        .fa--pinterest
      a(href="https://www.instagram.com/showponiesltd/" target="_blank").ui.is-icon 
        .fa--instagram