mixin figure(src)
  .gallery-figure
    .img-background(data-src= src alt="Speciality Acts | England | Showponies Ltd")

section.type--logo
section.type--gallery
  .gallery-collection
    +figure("/images/example.jpg")
    +figure("https://static.wixstatic.com/media/ae58d1_49ad78a5ffe049b6800fdf88fefbe116~mv2.png/v1/fill/w_482,h_1012,al_c,q_85/ae58d1_49ad78a5ffe049b6800fdf88fefbe116~mv2.webp")
    +figure("https://static.wixstatic.com/media/ae58d1_08c366a103184b048db9d7cd0cb6e26b~mv2.png/v1/fill/w_477,h_1002,al_c,q_85/ae58d1_08c366a103184b048db9d7cd0cb6e26b~mv2.webp")
    +figure("https://static.wixstatic.com/media/ae58d1_8f0926823db04c1eb502cd5c043f5541~mv2.png/v1/fill/w_438,h_920,al_c,q_85/ae58d1_8f0926823db04c1eb502cd5c043f5541~mv2.webp")
    +figure("https://static.wixstatic.com/media/ae58d1_1752f54ea00344789367c43b6c864edd~mv2.png/v1/fill/w_442,h_929,al_c,q_85/ae58d1_1752f54ea00344789367c43b6c864edd~mv2.webp")
    +figure("https://static.wixstatic.com/media/ae58d1_9c90e390776b4f9ea0c656c536b86fc1~mv2.png/v1/fill/w_461,h_968,al_c,q_85/ae58d1_9c90e390776b4f9ea0c656c536b86fc1~mv2.webp")
    
