h1 Your audiences deserve to be enthralled, moved and transformed.
p After being in production, for most of 2018 on the new Tim Burton & Disney collaboration of 'Dumbo', Showponies Ltd emerged as a new platform for speciality acts.​
p Uniquely equipped to find just the right performers, we offer a seamless, end to end service, to take the stress out of planning and managing the entertainment for your project or event.
p With a large portfolio of international talent, a creative eye and a diligent production base, we'll find just the right acts to create impact and make memories.
p It makes us happy to make that happen.