mixin quote(quote, whom, client)
  .quote-child
    .child-head
      h3= quote
    .child-foot
      h4= whom
      if client
        h5= client

.element-carosel
  .el-head
    .fa--quotation
  .el-body
    .quotes-collection
      +quote("We are very grateful to Leila and Meg for their contribution to this project and wish them the very best of all things for the future of Showponies.", "Nigel Gostelow – Exec Producer", "Working Title at Medici Productions Ltd/Disney Motion Pictures")
      +quote("The seemingly inexhaustible black book talent really sets Showponies apart when it comes to sourcing unique and befitting talent for corporate productions.\nOn top of that Meg and Leila really become part of the team which makes work just fun!", "Cassander van Eerd", "Clogwork Orange Productions")
      +quote("Working with Showponies was a total delight; a dream team of talent, hard work and high level industry knowledge. As an up and coming corporate agency, these women are surely the ones to watch.", "Lili La Scala")
      +quote("The Show Ponies are by far the best!\nAlways calm under pressure, they offer a super slick service and bring a sense of fun to everything they do. I cannot recommend them highly enough.", "Adam McVay", "Holy Water")
      +quote("Happy clients, happy performers and a fantastic product as well.\nCan’t wait to be booked by them again.","The Acrochaps")