mixin quote(quote, whom, client)
  .quote-child
    .child-head
      h1= quote
    .child-foot
      h3= whom
      if client
        h4= client

.element-carosel
  .el-head
    .fa--quotation
  .el-body
    .quotes-collection
      +quote("We are very grateful to Leila and Meg for their contribution to this project and wish them the very best of all things for the future of Showponies.", "Cassander van Eerd", "Holy Water")
      +quote("We are very grateful to Leila and Meg for their contribution to this project.", "Adam Mcvay", "Holy Water")
      +quote("We are very grateful to Leila and Meg for their contribution to this project.", "Adam Mcvay", "Holy Water")