/**
 * FontAwesome icons
 */

[class*="fa--"]
  font-family FontAwesome
  font-size 1em
.fa
  &--facebook:before
    content '\f09a'
  &--pinterest:before
    content '\f231'
  &--instagram:before
    content '\f16d'
  &--quotation:before
  	content '\f10d'
  &--heart:before
    content '\f004' 
  &--awards:before
    content '\f091'
  &--link:before
    content '\f0c1'