extends ../structure

block meta
  +meta("About | Showponies Ltd")

block header
  +header("About")
block content
  include ../partials/about
block footer
  include ../partials/footer

block scripts
  script(src="/bundle.js")