extends ../structure

block meta
  +meta("about","About | Showponies Ltd", "/about")

block header
  +header("About")
block content
  include ../partials/about
block footer
  include ../partials/footer

block scripts
  script(src="/bundle.js")