extends ../structure

block meta
  +meta("gallery","Gallery | Showponies Ltd","/gallery")

block header
  +header("Gallery")
block content
  include ../partials/gallery
block footer
  include ../partials/footer

block scripts
  script(src="/bundle.js")