extends ../structure

block meta
  +meta("home","Speciality Acts | England | Showponies Ltd", "/")

block header
  +header("Home")
block content
  include ../partials/home
block footer
  include ../partials/footer

block scripts
  script(src="/bundle.js")