extends ../structure

block meta
  +meta("press","Press | Showponies Ltd", "/press")

block header
  +header("Press")
block content
  include ../partials/press
block footer
  include ../partials/footer

